---
# yaml-language-server: $schema=https://crd.movishell.pl/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  instances: 1
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16.9-0.3.0
  enableSuperuserAccess: true
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  postgresql:
    shared_preload_libraries: ["vchord.so"]
    parameters:
      max_connections: "300"
      work_mem: 64MB
      shared_buffers: 128MB
  superuserSecret:
    name: cloudnative-pg-secret
  monitoring:
    enablePodMonitor: false
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      memory: 2Gi
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: postgres
        serverName: postgres

  bootstrap:
    recovery:
      source: source
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: postgres-16
          serverName: postgres-16

