---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: slskd
spec:
  chartRef:
    kind: OCIRepository
    name: slskd
  interval: 1h
  values:
    controllers:
      slskd:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.5@sha256:17ef977563be206f3b5932080b1e23883b2cb39dc9010640f6f39b4eaec887e3
            env:
              DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
              SLSKD_APP_DIR: /config
              SLSKD_HTTP_PORT: &port 8080
              SLSKD_NO_AUTH: true
              SLSKD_NO_HTTPS: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: &soulseekPort 50429
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
        statefulset:
          volumeClaimTemplates:
            - name: config
              storageClass: openebs-hostpath
              accessMode: ReadWriteOnce
              size: 5Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
      soulseek:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.1.107
        externalTrafficPolicy: Local
        ports:
          soulseek-tcp:
            port: *soulseekPort
            protocol: TCP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.tuilakhanh.id.vn"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          slskd.yml: |-
            directories:
              downloads: /mnt/disk/download/soulseek/complete
              incomplete: /mnt/disk/download/soulseek/incomplete
            permissions:
              file:
                mode: 750
            shares:
              directories:
                - /mnt/disk/download/soulseek/shared
              filters:
                - \.ini$
                - Thumbs.db$
                - \.DS_Store$
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/slskd.yml
            subPath: slskd.yml
      media:
        type: hostPath
        hostPath: /mnt/disk/
        globalMounts:
          - path: /mnt/disk/download/soulseek
            subPath: download/soulseek
      tmp:
        type: emptyDir