---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: adguard-home
  values:
    controllers:
      adguard:
        strategy: RollingUpdate

        initContainers:
          fix-permissions:
            image:
              repository: mirror.gcr.io/library/alpine
              tag: 3.23.3@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
              pullPolicy: IfNotPresent
            securityContext:
              runAsUser: 0
            command:
              - /bin/sh
              - -c
              - |
                chown -R 1000:1000 /opt/adguardhome/conf
                chown -R 1000:1000 /opt/adguardhome/work
                find /opt/adguardhome/work -type f -exec chmod 644 {} \;
                find /opt/adguardhome/work -type d -exec chmod 755 {} \;

        containers:
          app:
            image:
              repository: mirror.gcr.io/adguard/adguardhome
              tag: v0.107.71
            probes:
              liveness: &probe
                type: HTTP
                path: /login.html
              readiness: *probe
              startup: *probe
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              capabilities:
                add: [NET_BIND_SERVICE]
                drop: [ALL]

    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: adguard
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 192.168.1.102
        ports:
          http:
            port: 3000
          https:
            port: 443
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP

    route:
      app:
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - "dns.tuilakhanh.id.vn"
        rules:
          - backendRefs:
              - identifier: app
                port: 3000
          - matches:
              - path:
                  type: PathPrefix
                  value: /dns-query
            backendRefs:
              - identifier: app
                port: 443

    persistence:
      config:
        enabled: true
        existingClaim: adguard-home
        globalMounts:
          - path: /opt/adguardhome/conf
            subPath: conf

      work:
        enabled: true
        existingClaim: adguard-home-work
        globalMounts:
          - path: /opt/adguardhome/work
            subPath: work
      
      sessions:
        type: emptyDir
        globalMounts:
          - path: /opt/adguardhome/data

      tls:
        enabled: true
        type: secret
        name: tls-adguard
        globalMounts:
          - path: /opt/adguardhome/ssl/certs/
            readOnly: true
