---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sws
spec:
  chartRef:
    kind: OCIRepository
    name: sws
  interval: 1h
  values:
    controllers:
      atuin:
        containers:
          app:
            image:
              repository: ghcr.io/static-web-server/static-web-server
              tag: 2.40.1-alpine@sha256:b995c166bc318d836523e42529210009c7b7928b7a9b6098f2a0d17fb08a527f
            env:
              SERVER_ROOT: /data
              SERVER_PORT: &port 8080
              SERVER_DIRECTORY_LISTING: "true"
              SERVER_CORS_ALLOW_ORIGINS: "*"
              SERVER_SECURITY_HEADERS: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 56Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.tuilakhanh.id.vn"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      file:
        type: hostPath
        hostPath: "/mnt/disk/files"
        globalMounts:
          - path: /data