---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: jellyfin
  values:
    controllers:
      jellyfin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: "10.11.5"
            env:
              JELLYFIN_FFmpeg__probesize: "50000000"
              JELLYFIN_FFmpeg__analyzeduration: "500000000"
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 4Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44, 105, 1000, 10000]

    service:
      app:
        controller: jellyfin
        ports:
          http:
            port: 8096

    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
        hostnames:
          - "{{ .Release.Name }}.tuilakhanh.id.vn"

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          jellyfin:
            app:
              - path: /config

      library:
        type: hostPath
        hostPath: "/mnt/media/"
        globalMounts:
          - path: /mount/gdrive/

      drive:
        type: hostPath
        hostPath: "/mnt/disk/"
        globalMounts:
          - path: /mount/disk/

      tmpfs:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
                subPath: cache
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
              - path: /transcode
                subPath: transcode

      stuff:
        type: hostPath
        hostPath: "/data/"
        globalMounts:
          - path: /mnt/nvme/
