---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cyberchef
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cyberchef
  values:
    controllers:
      cyberchef:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gchq/cyberchef
              tag: 10.21.0
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 25Mi
              limits:
                memory: 128Mi

    service:
      app:
        ports:
          http:
            port: 80

    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
        hostnames:
          - "{{ .Release.Name }}.tuilakhanh.id.vn"
        rules:
          - backendRefs:
              - identifier: app
                port: 80
