---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  values:
    controllers:
      server:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.5@sha256:e0c87ce7df39d06b93f27cf2cc6a056611f13faaa88cc07ab4dc8bf7a85d0b11
            envFrom:
              - secretRef:
                  name: immich-db-secret
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: v2.4.1
            env: 
              IMMICH_LOG_LEVEL: log
              REDIS_HOSTNAME: "immich-valkey.media.svc.cluster.local"
              IMMICH_MACHINE_LEARNING_URL: "http://immich-machine-learning.media.svc.cluster.local:3003"
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-db-secret
                    key: DB_HOSTNAME
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-db-secret
                    key: DB_USERNAME
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-db-secret
                    key: DB_PASSWORD
              DB_DATABASE_NAME: "immich"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: &port 2283
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 4096Mi
                gpu.intel.com/i915: 1
            securityContext: &contSec
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

      machine-learning:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1@sha256:b3deefd1826f113824e9d7bc30d905e7f823535887d03f869330946b6db3b44a
            env:
              MACHINE_LEARNING_HTTP_KEEPALIVE_TIMEOUT_S: "0"
              HF_HOME: /cache/hf
              MACHINE_LEARNING_CACHE_FOLDER: /cache
              TRANSFORMERS_CACHE: /cache
              HF_XET_CACHE: /cache/huggingface-xet
              MPLCONFIGDIR: /cache/matplotlib-config
            probes:
              liveness: &mlprobes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &mlport 3003
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 1
                  failureThreshold: 10
              readiness: *mlprobes
              startup: *mlprobes
            resources:
              limits:
                gpu.intel.com/i915: 1
            securityContext: *contSec
        statefulset:
          volumeClaimTemplates:
            - name: cache
              storageClass: openebs-hostpath
              accessMode: ReadWriteOnce
              size: 10Gi
              advancedMounts:
                app:
                  - path: /cache

      valkey:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.0
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 200Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "valkey-cli ping | grep PONG"
                  initialDelaySeconds: 10
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup: *probes
            securityContext: *contSec
        statefulset:
          volumeClaimTemplates:
            - name: data
              storageClass: openebs-hostpath
              accessMode: ReadWriteOnce
              size: 1Gi
              advancedMounts:
                app:
                  - path: /data

    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      server:
        controller: server
        ports:
          http:
            port: *port
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: *mlport
      valkey:
        controller: valkey
        ports:
          http:
            port: 6379

    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
        hostnames:
          - "{{ .Release.Name }}.tuilakhanh.id.vn"
        rules:
          - backendRefs:
              - identifier: server
                port: 2283

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          server:
            app:
              - path: /usr/src/app/upload

      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            app:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
      
      tmp:
        type: emptyDir
