---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich
spec:
  components:
    - ../../../../flux/components/volsync-local
  dependsOn:
    - name: postgres-cluster
      namespace: database
    - name: openebs
      namespace: openebs
    - name: volsync
      namespace: system
  interval: 30m
  path: ./kubernetes/apps/media/immich/app
  postBuild:
    substitute:
      APP: immich
      VOLSYNC_CAPACITY: 80Gi
      VOLSYNC_CACHE_CAPACITY: 10Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 10m
  wait: false
