---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
# components:
#   - ../../flux/components/common
resources:
  - ./atuin/ks.yaml
  - ./namespace.yaml
  - ./cyberchef/ks.yaml
  - ./echo-server/ks.yaml
  - ./it-tools/ks.yaml
  - ./rss-forwarder/ks.yaml