---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: qbittorrent-exporter
  values:
    controllers:
      app:
        containers:
          app:
            image:
              repository: ghcr.io/esanchezm/prometheus-qbittorrent-exporter
              tag: v1.6.0@sha256:b987d19693a5b2fe7314b22009c6302e084ec801fcf96afaf14065b4cdafc842
            env:
              EXPORTER_PORT: &port 8000
              QBITTORRENT_HOST: qbittorrent.download.svc.cluster.local
              QBITTORRENT_PORT: 8080
            envFrom:
              - secretRef:
                  name: qbittorrent-exporter-secret
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true

    service:
      app:
        controller: app
        ports:
          http:
            port: *port

    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 1m
