---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: qbittorrent
spec:
  components:
    - ../../../../flux/components/volsync
  dependsOn:
    - name: openebs
      namespace: openebs
    - name: volsync
      namespace: system
  interval: 30m
  path: ./kubernetes/apps/download/qbittorrent/app
  postBuild:
    substitute:
      APP: qbittorrent
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: download
  timeout: 5m
  wait: false
