---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: filebrowser
  values:
    controllers:
      filebrowser:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/gtsteffaniak/filebrowser
              tag: 1.1.4-beta@sha256:830bbafee8a70838753e4e54d41cefc3a58e7a8f73189a442309fc95cce71877
            envFrom:
              - secretRef:
                  name: filebrowser-secret
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 1Gi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8080
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - share.tuilakhanh.id.vn
        parentRefs:
          - name: envoy-external-local
            namespace: network

    configMaps:
      config:
        data:
          config.yaml: |-
            server:
              port: 8080
              externalUrl: https://share.tuilakhanh.id.vn
              internalUrl: http://filebrowser.media.svc.cluster.local:8080
              cacheDir: /cache
              database: /home/filebrowser/database/filebrowser.db
              sources:
                - name: GSGA
                  path: /mnt/GSGA
            auth:
              methods:
                noauth: false
                password:
                  enabled: true
                  signup: false

    persistence:
      database:
        existingClaim: filebrowser
        globalMounts:
          - path: /home/filebrowser/database
      cache:
        type: emptyDir
      config:
        type: configMap
        identifier: config
        globalMounts:
          - path: /home/filebrowser/config.yaml
            subPath: config.yaml
      media:
        type: hostPath
        hostPath: "/mnt/disk/torrent/GSGA"
        globalMounts:
          - path: /mnt/GSGA
