---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app api
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: api
  values:
    controllers:
      identity:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-identity-service
              tag: latest@sha256:0498c22bc2071406174102f272e000706dfefbebd8178f8e7bb30cf3a7075944
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      auction:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-auction-service
              tag: latest@sha256:9298f28d9d100b7ab2b81ea2c042cd51711a189db1d464cf650cda87597ea6ab
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      farm:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-farm-service
              tag: latest@sha256:33b17e524a1b440a6f9d8572724dc40652a8b854c231ed1966add0692f00e912
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      worker:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-worker
              tag: latest@sha256:4bf080b95bb6b38e203e8ddae241e5079da347bf5c760872abd882fc03deb1f4
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
              Hangfire__WorkerCount: 5
              Hangfire__ServerName: AgriMart-Worker-Production
              Hangfire__UseMemoryStorage: false
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      payment:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-payment-service
              tag: latest@sha256:dff9b3fd3fee4e4f5e000bd2562facee48d4b911f27701a9a63dcaf518c2f7f7
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      notification:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: buiductrieu/agrimart-notification-service
              tag: latest@sha256:da2d61d4185358521eff5b5a8a32d7c18b381c2ebc9511c201d4fb07ee92428f
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      gateway:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-gateway
              tag: latest@sha256:ae3e70da1fb937f286f634e42c8f8cd6efe8ae498ae92ff80bb8091df2752f27
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              ReverseProxy__Clusters__identity-cluster__Destinations__destination1__Address: "http://api-identity:8080"
              ReverseProxy__Clusters__farm-cluster__Destinations__destination1__Address: "http://api-farm:8080"
              ReverseProxy__Clusters__auction-cluster__Destinations__destination1__Address: "http://api-auction:8080"
              ReverseProxy__Clusters__payment-cluster__Destinations__destination1__Address: "http://api-payment:8080"
              ReverseProxy__Clusters__notification-cluster__Destinations__destination1__Address: "http://api-notification:8080"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi

    service:
      identity:
        controller: identity
        ports:
          http:
            port: 8080
      farm:
        controller: farm
        ports:
          http:
            port: 8080
      auction:
        controller: auction
        ports:
          http:
            port: 8080
      payment:
        controller: payment
        ports:
          http:
            port: 8080
      notification:
        controller: notification
        ports:
          http:
            port: 8080
      gateway:
        controller: gateway
        ports:
          http:
            port: 8080

    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
        hostnames:
          - "gateway.a-379.store"
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: gateway
                port: 8080
