---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app api
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: api
  values:
    controllers:
      identity:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-identity-service
              tag: latest@sha256:97d566462f1ac4356c7e4e0563bc5a1df9599849dc83f7f3a9ff65aff3ec528c
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      auction:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-auction-service
              tag: latest@sha256:e63ae80c1b1496c254b32eb3fbc75fae2c83a8bb6e46fb87956a4bc5b7d9537a
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      farm:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-farm-service
              tag: latest@sha256:136d23a15e00047eb8b20493c4376d33a01e8680f9ab13380203bc6c48b67775
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      worker:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-worker
              tag: latest@sha256:825a7c8e73f0674eac79a3f6a77004578a3b30eb34597647c1930714228aa2b2
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
              Hangfire__WorkerCount: 5
              Hangfire__ServerName: AgriMart-Worker-Production
              Hangfire__UseMemoryStorage: false
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      payment:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-payment-service
              tag: latest@sha256:1fa4955015b7cb2c22e3f21aa8532a832f6ba8f216a5c1989cd3641b9a3783a7
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      messaging:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: buiductrieu/agrimart-messaging-service
              tag: latest@sha256:e77e35224a96686b7b4a425d8dc2008186c5cc95d720bf5b50eb19cbe3a0f9c1
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              RABBITMQ__CONNECTIONSTRING: amqp://guest:guest@rabbitmq.default.svc.cluster.local:5672
              RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
              RABBITMQ_PORT: 5672
              RABBITMQ_USER: guest
              RABBITMQ_PASS: guest
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi
      gateway:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/buiductrieu/agrimart-gateway
              tag: latest@sha256:01615784de71dcc769d5fb80dac1564e1c4e25372c4924f4f9e99d3d4b705867
            envFrom:
              - secretRef:
                  name: api-secret
            env:
              ReverseProxy__Clusters__identity-cluster__Destinations__destination1__Address: "http://api-identity:8080"
              ReverseProxy__Clusters__farm-cluster__Destinations__destination1__Address: "http://api-farm:8080"
              ReverseProxy__Clusters__auction-cluster__Destinations__destination1__Address: "http://api-auction:8080"
              ReverseProxy__Clusters__payment-cluster__Destinations__destination1__Address: "http://api-payment:8080"
              ReverseProxy__Clusters__messaging-cluster__Destinations__destination1__Address: "http://api-messaging:8080"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 101m
                memory: 25Mi
              limits:
                memory: 512Mi

    service:
      identity:
        controller: identity
        ports:
          http:
            port: 8080
      farm:
        controller: farm
        ports:
          http:
            port: 8080
      auction:
        controller: auction
        ports:
          http:
            port: 8080
      payment:
        controller: payment
        ports:
          http:
            port: 8080
      messaging:
        controller: messaging
        ports:
          http:
            port: 8080
      gateway:
        controller: gateway
        ports:
          http:
            port: 8080

    route:
      app:
        parentRefs:
          - name: envoy-external
            namespace: network
        hostnames:
          - "gateway.a-379.store"
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: gateway
                port: 8080
